body {
  background: black;
}

h1 {
  text-align: center;
  color: chartreuse;
  font-family: monospace;
  font-size: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  background: chartreuse;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:visited {
  color: black;
}

nav a.active {
  background: black;
  color: white;
}

.sightings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 20vw;
}

.card {
  width: 200px;
  padding: 10px 20px;
  margin: 20px 10px;
  background: black;
  color: white;
  border: 5px solid white;
}

.description {

}

.location {
  color: chartreuse;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 20px auto;
}

input, 
textarea {
  border: 5px solid ghostwhite;
  background: black;
  margin: 10px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-family: monospace;
}

input[type="submit"] {
  background: black;
  color: chartreuse;
  font-weight: bold;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}